@import url('styles/header.css');
@import url(styles/banner.css);
@import url(styles/projetos.css);
@import url(styles/sobre-mim.css);
@import url(styles/Conhecimentos.css);


/*Font Principal*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Font Pixelada*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-destaque: #007de4;
    --cor-background: #000b14;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-background);
    color: white;
    font-family: Poppins, sans-serif;
}

h2{
    font-size: 2em;

    span{
        color: var(--cor-destaque);
    }

}


/*--------- Animações efeito neon----------------------*/

@keyframes neon {
    0% {
        box-shadow: 0 0 11px var(--cor-destaque);
    }
    
    50% {
        box-shadow: 0 0 5px var(--cor-destaque);

    }

    100% {
        box-shadow: 0 0 0px var(--cor-destaque);

    }
}

@keyframes neon-laranja {
    0% {
        box-shadow: 0 0 15px rgb(255, 74, 8);
    }
    
    50% {
        box-shadow: 0 0 5px rgb(255, 74, 8);

    }

    100% {
        box-shadow: 0 0 0px rgb(255, 74, 8);

    }
}

/* Animaçoes de entrada e saida de conteudo */

[data-anima] {
    opacity: 0;
    transition: 1s;
}

[data-anima="esquerda"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anima="direita"] {
    transform: translate3d(50px, 0, 0);
}

[data-anima="centro"] {
    transform: translate3d(0, 50px, 0);
}

[data-anima].animacao {
    opacity: 1;
    transform: translate3d(0,0,0);
}

footer {
    background-color: rgba(5, 0, 53, 0.438);
    display: flex;
    text-align: center;
    justify-content: center;
    padding:.5em;
}






