*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2em 10em;
}

nav {
    width: 100%;
    display: flex;
    gap: 14em;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.nav-link {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
    transition: .5s;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    transform: scaleX(.95);
}

.fraseinicial {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: .9em;
    box-shadow: 0px 4px 12px 0 rgb(34, 34, 34);
}

body {
    background-color: gray;
}

.Inicio {
   display: flex;
   flex-direction: column;
   padding: 2em;
}

.Inicio p {
    display: flex;
    font-size: 1.4em;
    padding: .5em;
}

.Inicio h1 {
    display: flex;
    font-size: 3.5em;
    padding: .2em;
}

.Inicio img {
    width: 40%;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

.Inicio h4 {
    font-size: 1.2em;
    padding: 1.5em;
    width: 50%;
}








