.sobre-mim{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sobre-mim h2 {
    color: white;
    padding-bottom: 1em;
}

.container-sobre{
    width: auto;
    margin: 0 10em;
    background-color:  rgba(5, 0, 53, 0.438);
    display: flex;
    gap: 1.5em;
    padding: 2em;
    border-radius: 10px;
    border: 2px solid var(--cor-destaque);
    overflow: hidden;
    animation: neon 2s alternate infinite ease-in-out;
}

.container-sobre:hover{
    background-color: rgba(5, 0, 53, 0.849);
    transition: .5s;
}


.container-sobre img {
    width: 30%;
    border-radius: 10px;
}

.container-sobre-descriçao{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.quemsou{
    font-size:1.2em ;
    margin-bottom: -1em;
}

h4 {
    font-size: 2em;
}


.dev {
    margin-top: -2em;
}

.desc {
    font-weight: 250;
}
/*
.buttons {
    display: flex;
    padding: 1em;
    gap: 2em;
    justify-content: center;


}*/

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2em;
}

.buttons a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    border: 2px solid var(--cor-destaque);
    border-radius: 5px;
    padding: 0.5em 1.5em;
}

.buttons a:hover{
    background-color:rgba(0, 51, 80, 0.849) ;
    transition: .5s;
}
