.sobre-mim {
    color: var(--cor-texto);
    margin: 2em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sobre {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgba(5, 11, 32, 0.219);
    border: 1px solid var(--cor-destaque);
    border-radius: 10px;
    padding: 2em;
    gap: 30px;
    align-items: center;
    animation: neon 2s alternate infinite ease-in-out;
}

.container-sobre img {
    width: 40%;
    border-radius: 10px;
    opacity: 0.8;
    transition: .5s;
}

.container-sobre img:hover {
    opacity: 1;
}

.container-sobre-descriçao {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.quem-sou {
    color: var(--cor-destaque);
    font-weight: 600;
}

.container-sobre-descriçao h4 {
    font-size: 1.6em;
}

.desc {
    color: var(--cinza-padrao);
    margin: 35px 0;
}

.buttons {
    display: flex;
    gap: 30px;
}


.buttons a {
    text-decoration: none;
    padding: 0.5em 1em;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.486);
    color: var(--cor-texto);
    transition: 0.9s;
    border: 1px solid var(--cor-destaque);
}

.buttons a:hover {
    background-color: var(--cor-destaque);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.35);
}